body,
div,
html {
  font-size: 11px;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.Icon-Search {
  /* background: url("../extjs4/icons/icon-search-16.png") no-repeat 2px 1px !important; */
  padding-left: 24px;
}

.x-column-header {
  text-align: center;
  font-weight: bold;
}

.x-tree-noicon .x-tree-icon-leaf {
  display: none !important;
}

.x-tree-noicon .x-tree-icon-parent {
  display: none !important;
}

.x-panel-header-text-container {
  text-align: center !important;
}

.x-form-field {
  font:
    normal 11px arial,
    helvetica,
    sans-serif;
}

/* .x-form-roles-trigger {
  background-image: url("../../resources/themes/images/default/form/exclamation.gif");
} */

.x-form-item-label {
  font-weight: bold;
}

.mousepointer {
  cursor: pointer;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%;
}

#sortable li {
  margin: 5px;
  padding: 7px;
  font-size: 12px;
  height: 30px !important;
}

.x-form-field {
  font:
    normal 11px arial,
    helvetica,
    sans-serif;
}

.mousepointer {
  cursor: pointer;
}

.x-tree-noicon .x-tree-icon-parent {
  display: none !important;
}

.x-panel-header-text-container {
  text-align: center !important;
}

.btn-cls {
  font-size: 14px;
}

.color-blue {
  color: #0074e8;
}

.color-green {
  color: #008000;
}

.color-red {
  color: #cc3333;
}

.color-orange {
  color: #ff8c00;
}

.color-gains {
  color: #dcdcdc;
}

.color-slate {
  color: #2f4f4f;
}

.x-boundlist-item {
  font-size: 11px !important;
}
